body{
    background:#f8f9fa;
}


.sidebar{

    min-height:100vh;

    background:#6f42c1;

    padding-top:30px;

}


.logo{

    color:white;

    font-size:25px;

    font-weight:bold;

    text-align:center;

    margin-bottom:40px;

}


.sidebar a{

    display:block;

    color:white;

    text-decoration:none;

    padding:15px 30px;

    margin-bottom:10px;

}


.sidebar a:hover{

    background:rgba(255,255,255,.2);

    border-radius:10px;

}


.sidebar a.active{

    background:white;

    color:#6f42c1;

    border-radius:10px;

}


.content-area{

    padding:30px;

}


.topbar{

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0 0 10px rgba(0,0,0,.1);

}


.card-box{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 10px rgba(0,0,0,.1);

}